In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/tiananicole/Desktop/Data Analysis Projects/boilerplate-demographic-data-analyzer/adult.data.csv', sep=",")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
 # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df.groupby('race').race.count()
race_count

race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
Name: race, dtype: int64

In [25]:
 # What is the average age of men?
average_age_men = df[df['sex'] == 'Male'].age.mean()
average_age_men

39.43354749885268

In [30]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = df[df['education'] == 'Bachelors'].education.count() / df['education'].count() * 100
percentage_bachelors

16.44605509658794

In [56]:
 # with and without `Bachelors`, `Masters`, or `Doctorate`
 higher_education = df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') \
                    | (df['education'] == 'Doctorate') & (df['salary'] == '>50K')].education.count()

higher_education

7384

In [58]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
lower_education = df[(df.education != 'Bachelors') | (df.education != 'Masters') \
                        | (df.education != 'Doctorate') & (df.salary == '>50K')].education.count()

lower_education

32561

In [60]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
higher_education_rich = higher_education / df['salary'].count() * 100

higher_education_rich

22.677436196677007

In [61]:
# What percentage of people without advanced education make more than 50K?
lower_education_rich = lower_education / df.salary.count() * 100

lower_education_rich

100.0

In [64]:
 # What is the minimum number of hours a person works per week (hours-per-week feature)?
 min_work_hours = df['hours-per-week'].min()

 min_work_hours

1

In [74]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df[(df.salary == '>50K') & (df['hours-per-week'] == 1)].salary.count() 

num_min_workers

2

In [76]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
rich_percentage = num_min_workers / df.salary.count() * 100

rich_percentage

0.006142317496391388

In [125]:
 # What country has the highest percentage of people that earn >50K?
highest_earning_country = df[df.salary =='>50K'].groupby('native-country').salary.count().sort_values(ascending=False).head(1)

highest_earning_country

native-country
United-States    7171
Name: salary, dtype: int64

In [130]:
 # What country has the highest percentage of people that earn >50K?
highest_earning_country_percentage = highest_earning_country / df[df['native-country'] == 'United-States'].salary.count() * 100

highest_earning_country_percentage

native-country
United-States    24.583476
Name: salary, dtype: float64

In [144]:
  # Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = df[(df['native-country'] == 'India') & (df.salary == '>50K')].groupby('occupation').occupation.count()\
                    .sort_values(ascending = False).head(1)

top_IN_occupation

occupation
Prof-specialty    25
Name: occupation, dtype: int64